.tile-table {
    width: 600px;
    height: 600px;    
}
.tile {
    border: 1px solid black;
    width: 33%;
    height: 33%;
    /* max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px; */
}