body {
    text-align: center;
}
.tile-table {
    margin: 0 auto;
    width: 300px;
    height: 300px;    
    border: 1px solid black;
}
.tile {
    border: 1px solid black;
    width: 33%;
    height: 33%;
}
